.l-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.icon-github {
  min-width: 24px;
  min-height: 24px;
  background-image: url('DIGEST(/images/mark-github.svg)');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(100%);
}
